body {
	background-color: white;
	color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0px;
}

.entry-img img{
	width: 80px;
}

.entry-img, .entry-name, .entry-calories {
	display: inline-block;
	width: 300px;
	vertical-align: middle;
}

.diary {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	text-align: center;
}

.header {
	padding: 5px;
}

.header h1 {
	font-size: 1.5em;
	color: black;
}

.menu {
	background-color: #eee;
	color: black;

	border-bottom: none;
}
.menu-item {
	display: inline-block;
	padding: 10px;
}
.menu-item#active {
	background-color: black;
	color: white;
	font-weight: bold;
}

.content {
	margin: 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.container {
	min-height: 100%;
    position: relative;
}

.footer {
	background-color: black;
	height: 40px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
a {
	text-decoration: none;
}
.diary-day .nav, .diary-day .date {
	display: inline-block;
}

.diary-day .nav {
	background-color: black;
	padding: 3px 5px;
	margin: 10px;
}
.diary-day .nav a {
	color: white;
}